.bg-blk {
	flex-direction: row;
	gap: 30px;
}
.form {
	flex-direction: row;
}
.form > label {
	margin: auto;
}
.form > input {
	width: 250px;
}

.errorlist {
   width: 200px;
   margin-top: 5px;
   text-align: center;
   text-decoration: none;
   list-style: none;
   color: #f77;
}