{% extends 'base.html' %}

{% block title %} | Perdidos {% endblock %}

{% block content %}
<style>
@media (max-width: 574px) {
   .responsive-lista {
      /* display: flex;
      flex-direction: column !; */
      justify-content: center !important;
   }
   .boton-publicar {
      margin-left: 0 !important;
   }
}
</style>
<br>
<br>
<br>
<br>
<h5 style="text-align: center; font: 900 32px bold;padding: 1.5em 0; background-color: #1b1b1b; color: #fff; margin: 0;">Perdidos</h5>
<div style="text-align: center; background-color: #1b1b1b; color: #fff;">
   ¡Ac&aacute; pued&eacute;s publicaciones datos de tu mascota perdida!
   <a href="{% url 'perdidos:publicar' %}" class="btn get-started-btn boton-publicar" style="margin: 1em 0; margin-left: 50px;">Publicar</a>
</div>
<div style="padding: 2em 1em; display: flex; background-color: #faeded;">
   {% if publicaciones %}
   <section class="responsive-lista" style="padding: 1em; display: flex; flex-direction: row; flex-wrap: wrap; gap: 1em; text-align: center; align-items: center; justify-content: start;">
   {% for publicacion in publicaciones %}
   <div class="box" style="flex-basis: 15em; background-color: #fff; border-radius: 20px; box-shadow: 0 0 5px;">

      
      <div class="container" style="padding: 1em;">
         <div style="position: relative; display: flex; flex-direction: row; justify-content: flex-end; gap: 5px;">
            {% if fecha_actual > publicacion.valido_hasta %}
            <a href="{% url 'perdidos:renovar_publicacion' publicacion.id %}" style="z-index: 100; position: absolute; top: 0; left: 0;"><img src="https://img.icons8.com/small/16/000000/recurring-appointment.png" title="¿Renovar vigencia?"/></a>
            {% endif %}
            <a href="{% url 'perdidos:editar_publicacion' publicacion.id %}"><img src="https://img.icons8.com/small/16/000000/edit-property.png" title="Editar"/></a>
            <a href="{% url 'perdidos:eliminar_publicacion' publicacion.id %}"><img src="https://img.icons8.com/small/16/000000/trash--v1.png" title="Borrar"/></a>
         </div>

         <div class="row" style="align-items: center; justify-content: center;">
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 100%;">
               
               <div class="box-part text-center" style="display: flex;flex-direction: column; align-items: center; justify-content: center;">
                  <div style="display: flex; block-size: 220px; align-items: center; justify-content: center;">
                     <img src="{{ publicacion.id_mascota.fotos.url }}" alt="" style="object-fit: cover; width: 100%;">
                  </div>    
                  <div class="title">
                     <h4 style="font-size: 16px;">{{ publicacion.id_mascota.nombre }}</h4>
                  </div>
                  <div class="text">
                       <span>{{ publicacion.id_ubicacion.localidad }}</span> -
                       <span>{{ publicacion.id_ubicacion.barrio }}</span>
                    </div>
                    <div style="margin-top: 10px; display: flex; gap: 0.5em;">
                     <a class="btn get-started-btn" href="{% url 'perdidos:publicacion' publicacion.id %}" style="margin: 0; color: #fff;">Ver</a>
                  </div>
               </div>
            </div>	 
            
            
         </div>		
      </div>
   </div>
   {% endfor %}
   </section>
   {% else %}
   <section style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <div class="box" style="width: 80%; min-height: 100px; background-color: #fff; border-radius: 20px; box-shadow: 0 0 5px; margin: 0; display: flex;justify-content: center; align-items: center;">
         <p>No tiene ninguna publicaci&oacute;n</p>
      </div>
   </section>
   {% endif %}
</div>
{% endblock %}
