{# <!-- <div style="display: block;">
   <div style="text-align: center;">
      <h4 style="font-size: 16px;"><strong>{{ publicacion.id_mascota.especie }}</strong></h4>
   </div>
   <div style="text-align: center; width: 300px; margin: 5px auto;">
      <img src="{{ publicacion.id_mascota.fotos.url }}" alt="{{ publicacion.id_mascota.especie }}">
   </div>
   <div style="text-align: center;">
      <span>{{ publicacion.id_ubicacion.localidad }}</span> -
      <span>{{ publicacion.id_ubicacion.barrio }}</span>
   </div>
</div> --> #}

<p>Acaban de encontrar un {{publicacion.id_mascota.especie}} {{publicacion.id_mascota.tamaño}} de raza {{publicacion.id_mascota.raza}} en el barrio {{publicacion.id_ubicacion.barrio}} de {{publicacion.id_ubicacion.localidad}}, <a href="localhost/encontrados/publicacion/{{publicacion.id}}">ve a ver</a></p>