{% extends 'base.html' %}

{% block title %} | Encontrados {% endblock %}

{% block content %}
<div>
   <a href="{% url 'encontrados:publicar' %}"></a>
   <input type="text" name="buscar">
   <input type="submit" value="Buscar">
</div>
<section>
   <h5>En casa</h5>
   {% for publicacion in publicaciones %}
   <div>
      <img src="{{ publicacion.id_mascota.fotos.url }}" alt="">
      <!-- <div>{{ publicacion.id_mascota.fotos }}</div> -->
      <h6>{{ publicacion.id_mascota.nombre }}</h6>
      <span>{{ publicacion.fecha_publicacion }}</span>
      <span>{{ publicacion.id_mascota.raza }}</span>
      <span>{{ publicacion.id_mascota.sexo }}</span>
      {% if request.user.id == publicacion.id_usuario.id %}
      <a href="{% url 'editar_publicacion' publicacion.id %}"></a>
      {% endif %}
   </div>
   {% endfor %}
</section>

{% endblock %}
