{% extends 'base.html' %}

{% block title %} | Encontrados {% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div style="display: flex; justify-content: space-between;">
   <a href="{% url 'encontrados:publicar' %}" class="btn" style="background-color: #e53e6a; color: #fff; margin-left: 0.5em;">Publicar avistamiento</a>
   <form action="{% url 'encontrados:buscar' %}" method="GET" style="padding-right: 1em; display: flex;">
      {% csrf_token %}
      <input type="text" name="buscar" placeholder="Especie, Raza, Localidad, Barrio" style="margin-right: 0.5em" class="form-control">
      <input type="submit" value="Buscar" class="btn" style="background-color: #e53e6a; color: #fff;">
   </form>
</div>
<section>
   <h5>En casa</h5>
   {% for publicacion in publicaciones %}
   <div>
      <img src="{{ publicacion.id_mascota.fotos.url }}" alt="">
      <h6>{{ publicacion.id_mascota.nombre }}</h6>
      <span>{{ publicacion.fecha_publicacion }}</span>
      <span>{{ publicacion.id_mascota.raza }}</span>
      <span>{{ publicacion.id_mascota.sexo }}</span>
      {% if request.user.id == publicacion.id_usuario.id %}
      <a href="{% url 'editar_publicacion' publicacion.id %}"></a>
      {% endif %}
   </div>
   {% endfor %}
</section>
{% endblock %}
