{% extends 'base.html' %}

{% block title %} | Editar {% endblock %}

{% block content %}

<!-- {% if user.is_authenticated %} -->
   <section>
      <br>
      <br>
      <div class="container" style="width: 50%;">
         <div class="abs-center">
            <form method="POST" class="p-3 form abs-center" enctype="multipart/form-data">
               {% csrf_token %}
               {{ mascota.as_p }}
               {{ ubicacion.as_p }}
               <!-- {{ publicacion.as_p }} -->
               {{ encontro.as_p }}
               <button type="submit" class="form-control">Guardar</button>
            </form>  
         </div>
      </div>
   </section>
<!-- {% endif %} -->

{% endblock %}
