{% extends 'base.html' %}

{% block title %} | Publicar {% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<h5 style="text-align: center; font: 900 32px bold;padding: 1.5em 0; background-color: #1b1b1b; color: #fff; margin: 0;">Publicar Encontrados</h5>
<div style="text-align: center; background-color: #1b1b1b; color: #fff; min-height: 50px;  padding: 0;">
   ¡Nosotros te ayudamos a encontrar a su familia!
</div>
<section style="background-color: #faeded; padding: 60px 0;">
      <div class="container" style="width: 50%; background-color: #fff; border-radius: 20px; box-shadow: 0 0 5px;">
         <div class="abs-center">
            <form method="POST" class="p-3 form abs-center" enctype="multipart/form-data">
               <p style="font-size: 12px;">Todos los campos marcados con (*) son obligatorios.</p>
               {% csrf_token %}
               {{ mascota.as_p }}
               {{ ubicacion.as_p }}
               {{ encontro.as_p }}
               <div style="display: flex; justify-content: center; gap: 5px">
                  <a href="{% url 'encontrados:lista_encontrados' %}" class="btn btn-dark">Cancelar</a>
                  <button type="submit" class="btn get-started-btn">Publicar</button>
               </div>
            </form>  
         </div>
      </div>
   </section>

{% endblock %}
