{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
   @media (max-width: 574px) {
      .responsive-publicacion {
         display: block !important;
      }
   }
</style>
<br>
<br>
<br>
<br>

{# <!-- Título de la sección --> #}
<div style="display: flex; justify-content: center; align-items: center; background-color: #1b1b1b; color: #fff; min-height: 100px;">
   <p style="font-size: xx-large;">Encontrado: {{ publicacion.id_mascota.nombre }}</p>
</div>

{# <!-- Sección principal --> #}
<section style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 3em 0; background-color: #faeded;">
   {% if user.is_authenticated  and user == publicacion.id_usuario %}
   <span style="padding-bottom: 10px;">Tu publicación vence el <strong>{{ publicacion.valido_hasta }}</strong>, recuerda renovalrla</span>
   {% endif %}

   {# <!-- Tarjeta de publicación --> #}
   <article style="width: 60%; padding: 35px 30px; background-color: #fff; border-radius: 20px; box-shadow: 0 0 5px;">
      <!-- <div style="display: flex; flex-wrap: wrap; justify-content: space-between;"> -->
      <span style="display: block; padding-bottom: 1.5em; text-align: end;">Publicado el {{ publicacion.fecha_evento }}</span>
      <div class="responsive-publicacion" style="display: flex; justify-content: center; padding-bottom: 1.5em;">
         <span class="responsive-publicacion" style="text-align: center;">{{ publicacion.id_ubicacion.localidad }}</span>
         <span class="responsive-publicacion" style="text-align: center;">&nbsp;-&nbsp;</span>
         <span class="responsive-publicacion" style="text-align: center;">Barrio {{ publicacion.id_ubicacion.barrio }}</span>
      </div>
      <div class="responsive-publicacion" style="display: flex; justify-content: space-between;">
         <div class="responsive-publicacion" style="display: flex; flex-direction: column;">
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Calle: {{ publicacion.id_ubicacion.calle }}</span>
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Especie: {{ publicacion.id_mascota.especie }}</span>
         </div>
         <!-- <div style="display: flex; flex-wrap: wrap; justify-content: space-between;"> -->
         <div class="responsive-publicacion" style="display: flex; flex-direction: column;">
            <span class="responsive-publicacion" style="padding-bottom: 1em;">N&uacute;mero: {{ publicacion.id_ubicacion.numero }}</span>
         </div>
            <!-- <div style="display: flex; flex-wrap: wrap; justify-content: space-between;"> -->
         <div class="responsive-publicacion" style="display: flex; flex-direction: column;">
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Entre calles: {{ publicacion.id_ubicacion.entre_calles }}</span>
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Raza: {{ publicacion.id_mascota.raza }}</span>
         </div>
      </div>
      
      <img src="{{ publicacion.id_mascota.fotos.url }}" alt="{{ publicacion.id_mascota.especie }}" style="width: 100%; padding-bottom: 1em;">

      <h6 style="padding-top: 1em; text-align: center; font-size: 20px;">Caracter&iacute;sticas</h6>
      <hr>
      <div class="responsive-publicacion" style="display: flex; justify-content: space-between;">
         <div class="responsive-publicacion" style="display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between;">
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Sexo: {{ publicacion.id_mascota.sexo }}</span>
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Color: {{ publicacion.id_mascota.color }}</span>
         </div>
         <div class="responsive-publicacion" style="display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between;">
            <span class="responsive-publicacion"  style="padding-bottom: 1em;">Tamaño: {{ publicacion.id_mascota.tamaño }}</span>
            <span class="responsive-publicacion" style="padding-bottom: 1em;">Edad: {{ publicacion.id_mascota.edad }}</span>
         </div>
      </div>
      <p style="padding-bottom: 0.5em;">{{ publicacion.id_mascota.otro_dato }}</p>

      <h6 style="padding-top: 1em; text-align: center; font-size: 20px;">Observaciones</h6>
      <hr>
      <p style="padding-bottom: 0.5em;">{{ publicacion.observaciones }}</p>

      <h6 style="padding-top: 1em; text-align: center; font-size: 20px;">Referencias</h6>
      <hr>
      <p style="padding-bottom: 0.5em;">{{ publicacion.id_ubicacion.otros_datos }}</p>

      <h6 style="padding-top: 1em; text-align: center; font-size: 20px;">Contacto</h6>
      <hr>
      <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
         <span style="padding-bottom: 1em;">Nombre: {{ publicacion.id_usuario.first_name }} {{ publicacion.id_usuario.last_name }}</span>
         <span style="padding-bottom: 1em;">Email: {{ publicacion.id_usuario.email }}</span>
      </div>

   </article>

   {# <!-- Iconos editar, borrar, renovar --> #}
   {% if user.is_authenticated  and user == publicacion.id_usuario %} 
   <div style="margin-top: 1em;">
      {% if fecha_actual > publicacion.valido_hasta %}
      <a href="{% url 'encontrados:renovar_publicacion' publicacion.id %}"><img src="https://img.icons8.com/small/24/000000/recurring-appointment.png" title="¿Renovar vigencia?"/></a>
      {% endif %}
      <a href="{% url 'encontrados:editar_publicacion' publicacion.id %}"><img src="https://img.icons8.com/small/24/000000/edit-property.png" title="Editar"/></a>
      <i class="eliminar_publ" id="{{ publicacion.id }}" style="cursor: pointer;"><img src="https://img.icons8.com/small/24/000000/trash--v1.png" title="Borrar"/></i>
   </div>
   {% endif %}
</section>

{# <!-- Confirmar eliminar publicación --> #}
<script src="{% static 'js/alertas.js' %}"></script>
<script>
   const borrar = document.querySelector('.eliminar_publ');

   borrar.addEventListener('click', () => {
         let el = borrar['id'];
         let url = '/encontrados/borrar/' + el;
         alertaConfirmar(url);
      })
</script>
</script>
{% endblock %}