{% extends 'base.html' %}

{% block title %} | Encontrados {% endblock %}

{% block content %}
<div>
   <a href="{% url 'encontrados:publicar' %}"></a>
   <input type="text" name="buscar">
   <input type="button" value="Buscar">
</div>
<section>
<h5>En casa</h5>
<p>Estas buscando <strong>{{ busqueda | capfirst }}</strong></p>
{% for res in resultado %}
   <div>
      <div>{{ res.mascota.fotos }}</div>
      <h6>{{ res.mascota.nombre | capfirst }}</h6>
      <span>{{ res.fecha_publicacion }}</span>
      <span>{{ res.mascota.raza | title }}</span>
      <span>{{ res.mascota.sexo | capfirst }}</span>
      {% if request.user.is_authenticated %}
      <a href="{% url 'editar_publicacion' publicacion.id_publicacion %}"></a>
      {% endif %}
   </div>
   {% endfor %}
</section>

{% endblock %}