{% extends 'base.html' %}

{% block title %} Crear Adopcion {% endblock %}

{% block content %}
<div class="main" style="padding-top: 3em;padding-bottom: 0px;">
    <section class="sign-in" style="padding-bottom: 2em; padding-left: 2em; padding-right: 2em;margin-bottom: 0px;" >
        <div class="containerr w-100 p-4 " >
            <div class="signin-content" style="padding-top: 1em;padding-bottom: 1em;">
                
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    {{form2.as_p}}
                    {{form3.as_p}}
                    <input type="submit"> 
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}