{% extends 'base.html' %}

{% block title %} Crear Adopcion {% endblock %}

{% block content %}
<div class="main" style="padding-top: 3em;padding-bottom: 0px;">
    <section class="sign-in" style="background-color: #faeded;padding-bottom: 2em; padding-left: 2em; padding-right: 2em;margin-bottom: 0px;" >
        <div class="container" style="background-color:white;width: 50%; border-radius: 20px; box-shadow: 0 0 5px;">
            <div>
                <h1 style="text-align:center">Publicar adopcion</h1><hr>
                <form method="POST" enctype="multipart/form-data" style="text-align:center">
                    {% csrf_token %}
                    <!-- Formulario de adopcion-->
                    <h2>Adopcion</h2>
                    {{form.as_p}}
                    <!-- Formulario de ubicacion-->
                    <hr>
                    <h2>Ubicacion</h2>
                    {{form2.as_p}}
                    <!--Formulario mascota-->
                    <hr>
                    <h2>Mascota</h2>
                    {{form3.as_p}}
                    <div style="display: flex; justify-content: center; gap: 5px">
                        <a href="{% url 'adopcion:inicio' %}" class="btn btn-dark">Cancelar</a>
                        <button type="submit" class="btn get-started-btn">Publicar</button>
                     </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}  