{% extends 'base.html' %}

{% block title %} Adopciones{% endblock %}

{% block content %}
<div class="main" style="padding-top: 3em;padding-bottom: 0px;">
    <section class="sign-in" style="padding-bottom: 2em; padding-left: 2em; padding-right: 2em;margin-bottom: 0px;" >
        <div class="containerr w-100 p-4 " >
            <div class="signin-content" style="padding-top: 1em;padding-bottom: 1em;">
                <p>hola</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}