{% extends 'base.html' %}

{% block title %}Adopciones{% endblock %}

{% block content %}
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Adopciones</h2>
          <p>Aquí podras encontrar gente que da en adopcion mascota, pero tambien puedes dar en adopcion algunas de las tuyas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 ">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
              <h3>Buscar</h3>
              <div class="btn-wrap">
                <a href=""class="btn-buy">Buscar</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
              <h3>Crear </h3>
              <div class="btn-wrap">
                <a href="{% url 'adopcion:adopcion_crear' %}" class="btn-buy">Postear</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="300">
              <h3>Mis Adopciones</h3>
              <div class="btn-wrap">
                <a href="{% url 'adopcion:adopciones_listar' %}" class="btn-buy">Ver historial</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
{% endblock %}