{% extends 'base.html' %}
{% load static %}
{% block title %}Login |{% endblock %}



{% block content %}

<link href="{% static 'css/login.css' %}" rel="stylesheet">

<div class="main" style="padding-top: 3em;padding-bottom: 0px;">

    <!-- Sing in  Form -->
    <section class="sign-in" style="padding-bottom: 2em; padding-left: 2em; padding-right: 2em;margin-bottom: 0px;" >
        <div class="containerr w-100 p-4 " >
            <div class="signin-content" style="padding-top: 1em;padding-bottom: 1em;">
                <div class="signin-image ">
                    <figure class="d-none d-md-block"><img src="{% static 'img/logo.png' %}" class="logo" alt=""></figure>
                   
                </div>

                <div class="signin-form ">
                    <h2 class="form-title">Iniciar</h2>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group ">
                            {{ form.username }}
                            <!--<label for="your_name"><i class="icofont-user"></i></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>-->
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                            <!--<label for="your_pass"><i class="icofont-lock"></i></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>-->
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Recuérdame</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                <br>
                                <br>
                                <br>

                            <a style="font-size: medium;" href="{% url 'register' %}">Registrarse</a>
                            <a style="font-size: medium;padding-left: 20px;" href="{% url 'password_reset0' %}">Olvide mi contraseña</a>
                        </div>
                    </form>
                    <br>
                    <br>
                    
                    
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}