{% extends 'base.html' %}
{% load static %}
{% block title %}Registrarse |{% endblock %}


{% block content %}

<link href="{% static 'css/login.css' %}" rel="stylesheet">

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="containerr w-100 p-2">
            <div class="signup-content" style="padding-top: 1em;">
                <div class="signup-form">
                    <h2 class="form-title" >Registrarse</h2>
                    <form method="POST" class="register-form" id="register-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}
                            <!--<label for="name"><i class="icofont-user"></i></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>-->
                        </div>
                        <div class="form-group">
                            {{ form.first_name }}
                            <!--<label for="name"><i class="icofont-user"></i></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>-->
                        </div>
                        <div class="form-group">
                            {{ form.last_name }}
                            <!--<label for="name"><i class="icofont-user"></i></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>-->
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            <!--<label for="email"><i class="icofont-ui-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>-->
                        </div>
                        <div class="form-group">
                            {{ form.password1 }}
                            <!--<label for="pass"><i class="icofont-lock"></i></label>
                            <input type="password" name="pass" id="pass" placeholder="Password"/>-->
                        </div>
                        <div class="form-group">
                            {{ form.password2 }}
                            <!--<label for="re-pass"><i class="icofont-lock"></i></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>-->
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure class="d-none d-md-block"><img src="{% static 'img/logo.png' %}" class="logo" alt=""></figure>
                    <a href="{% url 'login' %}" class="signup-image-link" >Ya soy un miembro</a>
                </div>
            </div>
        </div>
    </section>

 
</div>

{% endblock %}