{% extends 'base.html' %}  
{% block title %} Nueva contraseña {% endblock %}
{% block content %}
<div class="main w-100" style="padding-top:40px;background-color:#faeded" >
    <div class="container w-100 p-5" >
        {% if validlink %}
        <h1>Nueva contraseña</h1>
        <div class="align-self-center text-center" style="margin-left: auto;margin-right: auto; width:70%; background-color: #fff; border-radius: 20px; box-shadow: 0 0 5px;">
            <form method="POST">
                {% csrf_token %}
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirme contraseña :</label>{{ form.new_password2 }}
                <input type="submit" value="Cambiar mi contraseña" />
            </form>
        {% else %}
            <h1 class="text-center">Enlace invalido: Este enlace ya ha sido utilizado </h1> 
        {% endif %}            
        </div>
    </div>
</div>
{% endblock %}
