{% extends 'base.html' %}  
{% block title %} Recuperar contraseña {% endblock %}
{% block content %}
<div class="main w-100" style="padding-top:40px;background-color:#faeded" >
    <div class="container w-100 p-5" >
        <h1>Recuperar contraseña</h1>
        <div class="align-self-center text-center" style="margin-left: auto;margin-right: auto; width:70%; background-color: #fff; border-radius: 20px; box-shadow: 0 0 5px;">
            <h3>Te enviamos un enlace para reestablecer tu contraseña</h3>>
        </div>
    </div>
</div>
{% endblock %}
