{% extends "authentication/base_login.html" %}
{% load static %}

{% block title %} Registrarse {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'app_usuario/css/sign_up.css' %}">
{% endblock head %}

{% block content %}
<form class="form" method="POST">
	{% csrf_token %}
	{% for field in form %}
	<div class="div__form form__div{{forloop.counter}}">
		{{ field.label_tag }}
		{{ field }}
		{% if field.errors %}
		{{ field.errors }}
		{% endif %}
	</div>
	{% endfor %}
	<input class="btn" type="submit" value="Registrarse">
</form>
{% endblock content %}