{% extends "authentication/base_login.html" %}
{% load static %}

{% block title %} ¡Exitos! {% endblock title %}

{% block content %}
<span class="mjs-aviso">
	Hemos enviado un correo electronico a su casilla de mensajes con <br>instrucciones
	para renovar su contraseña.
</span>
{% endblock content %}

{% block javascript %}
<script type="application/javascript">
	const redirigir = () => {
		setTimeout(() => { window.location.pathname = '/'; }, 5000);
	}

	document.addEventListener('DOMContentLoaded', redirigir());
</script>
{% endblock javascript %}