{% extends 'base.html' %}
{% load static %}
{% block title %}Acerca de |{% endblock %}

{% block content %}


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
              <div class="content">
                <h3>Te busco, te encuentr <span><small><i class="icofont-heart"></i></small></span>.</h3>
                <p>
                  Este es un lugar donde podés publicar una mascota que perdiste, que encontraste, o que querés dar en adopción.
                </p>
                <a href="{% url 'home'%}#pricing" class="about-btn"><span>Empezá!</span> <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="icofont-crying"></i>
                    <h4>¿Perdiste tu mascota?</h4>
                    <p>Revisá la sección encontrados, tal vez alguien lo publicó. Sino, haz una publicación en perdidos.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="icofont-paw"></i>
                    <h4>¿Encontraste una mascota?</h4>
                    <p>Revisá la sección perdidos, tal vez su dueño publicó. Sino, haz una publicación en encontrados.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="icofont-heart"></i>
                    <h4>¿Querés adoptar?</h4>
                    <p>Revisá la sección de adopciones, ¡encontrarás muchas mascotas que necesitan de tu amor!</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="icofont-heart"></i>
                    <h4>¿Querés dar en adopción?</h4>
                    <p>Publica en la sección de adopciones, ¡te ayudaremos a encontrar un dueño para tu mascota!</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      
      <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2><br> Preguntas Frecuentes</h2>
          </div>
  
          <ul class="faq-list accordion" data-aos="fade-up">
  
            <li>
              <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">¿Que pretendemos como objetivo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Se observa la creciente utilización de redes sociales, por parte de dueños de mascotas, para la publicación de avisos de “mascota perdida”, como también para la publicación de avisos de “mascotas encontradas en la vía  pública”. Las redes sociales si bien, facilitan el encuentro mascota-dueño, no resultan ser el camino óptimo para dar solución a estos casos, ya que los avisos suelen quedar perdidos en un sistema de continuas e interminables publicaciones.
                  Se pretende la construcción y puesta en marcha de un sitio web exclusivo para el problema planteado. 
                </p>
              </div>
            </li>
  
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">¿Como surge el grupo ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  El grupo de <a style="display:inline;padding-right: 0;" href="#team">desarrolladores</a>surge de forma fortuida apartir de una comision de estudiantes en el curso del <a style="display:inline;padding-right: 0;" href="https://chaco.gov.ar/informatorio/">Informatorio</a>Chaco.
                </p>
              </div>
            </li>
  
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">¿Como actuar ante una mascota perdida? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Por cada MASCOTA PERDIDA se  deberá  registrar los siguientes datos: nombre al que responde, familia (felino, canino, otro) ,raza, edad, sexo, fotos (tres como máximo, no se admiten videos), color, tamaño, otras características/datos que desee aportar (por ejemplo si está en tratamiento veterinario), fecha en que se perdió,  lugar de extravío (dirección: calle, entre calles, barrio, ciudad, provincia).
                  Para lo dicho visita: <a style="display:inline;padding-right: 0;" href="#">Perdidos</a>
                  Ademas puedes recurrir al sector de <a style="display:inline;padding-right: 0;" href="#">Encontrados</a> para ver si alguien encontro tu mascota.
                </p>
              </div>
            </li>
  
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">¿Como actuar ante una mascota encontrada? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Por cada MASCOTA ENCONTRADA se  deberá  registrar los siguientes datos: nombre (puede tener en el collar), familia (felino, canino, otro),  raza, edad aproximada, sexo, fotos (tres como máximo, no se admiten videos), color, tamaño, fecha en que se encontró,  lugar de encuentro (dirección: calle, entre calles, barrio, ciudad, provincia),  otras características/datos que desee aportar además de si la persona que lo reporta lo tiene y cuida o solo reporta el animal.
                  Para lo dicho visita: <a style="display:inline; padding-right: 0;" href="#">Encontradas</a>
                  Optativamente puedes revisar el sector de mascotas <a style="display:inline;padding-right: 0;" href="#">Perdidas</a> para ver si la mascota encontrada esta siendo buscada por su dueño.
                </p>
              </div>
            </li>
  
            <li>
              <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">¿Adopciones? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Por cada MASCOTA EN ADOPCIÓN se  deberá  registrar los siguientes datos: nombre, familia (felino, canino, otro) raza, edad, sexo, fotos (tres como máximo, no se admiten videos), color, tamaño, otras características (por ejemplo, si está en tratamiento veterinario), condiciones de adopción.
                </p>
              </div>
            </li>
  
          </ul>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->
  
      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Nosotros</h2>
            <p>Nosotros somos los creadores de la página.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'img/team/zoesobol.jpg' %}" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://www.instagram.com/zoesobol_/"><i class="bi bi-instagram"></i></a>
                    <a href="https://github.com/zoesobol"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/zoesobol/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Zoe Sobol</h4>
                  <span>Full Stack Web Developer. Estudiante de <a href="https://www.digitalhouse.com/ar/beca/certifiedtechdeveloper">Certified Tech Developer</a> y de <a href="https://chaco.gov.ar/informatorio/">Informatorio</a> </span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'img/team/enzo.png' %}" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://github.com/enzostefani507"><i class="bi bi-github"></i></a>
                    <a href="https://www.instagram.com/benites123/"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Enzo Stefani</h4>
                  <span>Estudiante de Ing. en sistemas de informacion en <a href="https://www.frre.utn.edu.ar/">UTN FRRe </a>y de programacion en <a href="https://chaco.gov.ar/informatorio/">Informatorio</a></span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Noemí Cicka</h4>
                  <span>Estudiante de programación en <a href="https://chaco.gov.ar/informatorio/">Informatorio</a></span>
                </div>
              </div>
            </div>

            <hr>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Franco</h4>
                  <span>Product Manager</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="{% static 'img/team/magdalena_brollo.jpg' %}" width="300" height="200" class="img-fluid" alt="" >
                  <div class="social">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Magdalena Brollo</h4>
                  <span>
                    Profesora en Informática y en Matemática. Estoy realizando una capcitaci&oacute;n sobre Formaci&oacute;n Intensiva en Programaci&oacute;n, brindada por <a href="https://chaco.gov.ar/informatorio/">Informatorio Chaco.</a> <br>    
                    Hobby: fotograf&iacute;a, y filmaci&oacute;n en la empresa familiar.
                  </span>
                </div>
              </div>
            </div>
  
            
  
          </div>

          
  
        </div>
      </section><!-- End Team Section -->

      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2><br>Contáctanos</h2>
            <p></p>
          </div>
          <!--
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-6">
  
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Nuestra dirección</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Envianos un email</h3>
                    <p>info@example.com<br>contact@example.com</p>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Llamanos</h3>
                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                  </div>
                </div>
              </div>
  
            </div>
            -->
            <div class="col-lg-12">
              <form action="{% url 'about' %}#contact" method="POST" role="form" class="php-email-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                  <div class="col form-group">
                    {{ form.nombre.errors }}
                    {{ form.nombre }}
                    <!--<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>-->
                  </div>
                  <div class="col form-group">
                    {{ form.email.errors }}
                    {{ form.email }}
                    <!--<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>-->
                  </div>
                </div>
                <div class="form-group">
                  {{ form.asunto.errors }}
                  {{ form.asunto }}
                  <!--<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>-->
                </div>
                <div class="form-group">
                  {{ form.mensaje.errors }}
                  {{ form.mensaje }}
                  <!--<textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>-->
                </div>
                <div class="my-3">
                  <div class="loading">Cargando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje ha sido enviado</div>
                </div>
                <div class="text-center"><button type="submit">Enviar mensaje</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

{% endblock %}