<h1 style="font-size: 1.5em; line-height: 2em;">[Amada Mascota] Aviso de renovación</h1>
<p> Estimado usuario {{usuario}}</p>
<p> Le informamos que su publicacion en nuestra web vence el dia {{vencimiento|date:"D d M Y" }}</p>
<p> por tal motivo le comunicamos que pueda renovarla aqui <a href="localhost:8000{% url 'suscripciones_ver' 1 %}">Renovar</a></p>
<p> Pasada esta fecha y no habiendo renovado la publicación será desactivada automáticamente.</p>
<p> Saludos,</p>
<p> El equipo de Amada Mascota</p>