{% extends 'base.html' %}
{% load static %}

{# de esta plantilla heredan otras, por ejemplo INFO PERDIDOS,... #}
{% block content %}

<head>
    
    <title>
        {# en esta parte iria el "título" de las HIJAS#}
        {# el título aparece en la Barra de Título del Navegador #}
       
        {% block title %}
   

        {% endblock %}

    </title>
</head>


{# en esta parte iria el contenido COMUN a todas las HIJAS#}
<section>
    <div>
    Seleccione que publicaion desea buscar
    </div>
    {% include "busquedas_barra_sup.html" %}
    
    <h4>
        <h4 style="background-color:#f578cb; color:#000003; text-align: center;">
         
        {# en esta parte iria el un título ESPECÍFICO de c/HIJAS#}
        {% block content1 %}

        {% endblock %}
            
        </h4>        
    </h4>

    {# en esta parte iria el contenido ESPECÍFICO de c/HIJAS#}
    {% block content2 %}


    {% endblock %}

</section>

{% endblock %}
