{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  
{# el título aparece en la Barra de Título del Navegador #}
{% block title %}
    Consultar Perdidos
{% endblock %}
</head>


    <body style="background-color:#faeded;"></body>

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Consulta de Perdidos</h2>
            <p>Selecciones un NOMBRE para ver mas detalles.</p>
        </div>
      <div class="row">
  
      {% for xObj in lista_perdidos %}
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="10">
            <div class="member-img">
              <img src="{{ xObj.id_mascota.fotos.url }}" width="100" height="auto" alt="FOTO MASCOTA">
            </div>
            <div class="member-info">
              <h5>{{ xObj.id_mascota.nombre }} </h5>
              <span> {{ xObj.id_mascota.raza }} - </span>
              <span>{{ xObj.id_mascota.sexo }} - </span>
              <span>{{ xObj.fecha_publicacion }} - $ {{ xObj.gratificacion }}</span>
              <br> ----------------------------------------
            </div>
          </div>
        </div>
      {% endfor %}

    </section><!-- End Section -->

{% endblock %}
