<section>
{# Esta barra se "incrusta" en la plantilla "consultas.html" #}
    <style>
        #barra{
            margin: 5;
            padding: 20px;;
            list-style: none;
            text-transform: uppercase;
        }

        #barra li{
            display: inline;
            margin:0 20px
        }
    </style>

    <div>
        -  Seleccione el tipo de Publicación que desea Consultar:
        <ul id="barra">
            <li><a href="{% url 'consultas_perdidos'%}" class ="get-started-btn scrollto" style="margin-left: 1em;">  Perdidos</a> </li>
            <li><a href="{% url 'consultas_encontrados'%}" class ="get-started-btn scrollto" style="margin-left: 1em;">Encontrados</a> </li>
            <li><a href="" class ="get-started-btn scrollto" style="margin-left: 1em;">Adopciones</a> </li>             
            
        </ul>

    </div>
</section>