{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row" id="prueba">
        <div class="col-xl-6" id="prueba">
          <h1><span>Amada</span>Mascota</h1>
          <h2>Te busco, te encuentr<span><small><i class="icofont-heart"></i></small></span>.</h2>
          <a href="#pricing" class="btn-get-started scrollto">Empezá</a>
        </div>
        <div class="col-xl-6 d-flex align-items-center justify-content-center">
          <img src="{% static 'img/logo.png' %}" class="logo" alt="">
        </div>
      </div>
    </div>




  </section><!-- End Hero -->

  <main id="main">

      <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="2032" data-purecounter-duration="1" class="purecounter"></span>
              <p>Usuarios Felices</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="21" data-purecounter-duration="1" class="purecounter"></span>
              <p>Mascotas perdidas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Adopciones publicadas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="1240" data-purecounter-duration="1" class="purecounter"></span>
              <p>Mascotas Encontradas</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Counts Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Amada Mascota</h2>
          <p> Primer paso: registrarse como usuario. <br> </p>

          {% if user.is_authenticated %}

            <p> Segundo paso: realizar una publicación en: ¿Perdiste?, ¿Encontraste? o ¿Adopciones?. 
            Revisar la sección de ¿Adotar? si se quiere adoptar una mascota. <br>
            Por último: ¡Suscríbete! a uno de los tres tipos de publicaciones.</p>
          {% endif %}
        </div>

        <div class="row">

        {% if user.is_authenticated %}

          <div class="col-lg-4 col-md-6">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
              <h3>¿Perdiste?</h3>
              <div class="btn-wrap">  
                <a href="{% url 'perdidos:lista_perdidos' %}" class="btn-buy">Postear</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
              <h3>¿Encontraste?</h3>
              <div class="btn-wrap">
                <a href=" {% url 'encontrados:lista_encontrados' %}" class="btn-buy">Postear</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
              <h3>¿Adopciones?</h3>
              <div class="btn-wrap">
                <a href="{% url 'adopcion:inicio' %}" class="btn-buy">Postear</a>
              </div>
            </div>
          </div>

         
          <div class="col-lg-6 col-md-6 mt-4 mt-lg-5">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
              <h3>¿Adoptar?</h3>
              <div class="btn-wrap">
                <a href="{% url 'adopcion:buscar_a' %}" class="btn-buy">Ver mascotas</a>
              </div>
            </div>
          </div>

         
          <div class="col-lg-6 col-md-6 mt-4 mt-lg-5">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
              <h3>¡Suscríbete!</h3>
              <div class="btn-wrap">
                <a href="{% url 'suscripciones_ver' 0 %}" class="btn-buy">Suscirbirse</a>
              </div>
            </div>
          </div>

          {%else %}
          <div class="col-lg-6 col-md-6 mt-4 mt-lg-5">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100" style="margin-right:50%;margin-left: 50%;width: 100%;">
              <h3>¡Regístrate!</h3>
              <div class="btn-wrap">
                <a href="{% url 'login' %}" class="btn-buy">Registrar</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
    </section><!-- End Pricing Section -->


  </main><!-- End #main -->

{% endblock %}