{% extends 'base.html' %}

{% block content %}

<style>
   #barra{
       margin: 2;
       padding: 1em;;
       list-style: none;
       text-transform: capitalize;
   }

   #barra li{
       margin:0 0.5em;
   }
</style>

<head>
   {# el título aparece en la Barra de Título del Navegador #}
   {% block title %}
       Consultar Perdidos
   {% endblock %}
</head>

<body  style="background-color:#faeded; padding: 60px 0;">
   <section >
       <div class="container-fluid" data-aos="fade-up">
           <header2 class="section-title">
               <h2>Suscripciones a Notificación</h2>
               <p>Para recibir novedades de las últimas publicaciones de mascotas Perdias, Encontradas y/o en Adopción, Suscríbete!</p>
           </header2>
       </div>

       <div class="grid-container"> 
            <aside class="asideform" data-aos="fade-up">
               <div class="texto1">
                  <form action ="" method="POST"> {% csrf_token%}
                     Opciones
            
                     {% include "barra_opciones.html" %}
                   
                  </form>
               </div>
            </aside> 
         

           <article class="listadoform" data-aos="fade-up">
            
                {% if lista_suscripciones %} 
                <strong> Suscripciones vigentes al día de la Fecha: </strong>
                <div class="row" style="align-items: center; ">

                    {% for xObj in lista_suscripciones %}
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretc">
                        <div class="member" >

                            <div class="texto1">               
                                  
                            <h7> 
                                <span> <strong>Tipo     : {{ xObj.tipo }} </strong> </span>
                                <span><br>Especie  : {{ xObj.especie }} </span>
                                <span><br>Localidad: {{ xObj.localidad }} </span>
                                <span><br>Fecha Desde: {{ xObj.fecha_desde}} </span>
                                <span><br>Fecha Hasta: {{ xObj.fecha_hasta }} </span>
                            </h7>

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {%else%}
                          <h4>Usted NO está SUSCRIPTO a publicaciones</h4>
                          <p>Disculpe las molestias.</p>
    
                </div>
                {%endif%}
           </article>

         </div>

   </section>

{% endblock %}

