{% extends 'base.html' %}

{% block title %} | Suscripciones {% endblock %}

{% block content %}
<br>
    <body  style="background-color:#faeded; padding: 60px 0;"></body>
      <div class="row"  data-aos="fade-up">
      <div class="col-md-12" style= "color: #fff; background-color: #1b1b1b; padding: 1.5em;">
            <h2 class="text-center">
                Suscripciones a Publicaciones
            </h2>
            <h6 class="text-center">
            Para recibir novedades de las últimas publicaciones de mascotas Perdidas, Encontradas y/o en Adopción, Suscríbete!
            </h6>
        </div>
      </div>

      <br>
    
       <div class="grid-container" data-aos="fade-up"> 
            <aside class="asideformmagui">
               <div class="texto1">
                  <form action ="" method="POST"> {% csrf_token%}
                     Opciones
            
                     {% include "barra_opciones.html" %}
                   
                  </form>
               </div>
            </aside> 
         
            <article class="listadoformmagui" data-aos="fade-up">
                <div class="row" style="align-items: center; ">
                    {% if lista_suscripciones %}
                    <strong> Suscripciones realizadas: </strong>
                    {% for xObj in lista_suscripciones %}                 
                  
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretc">
                            <div class="member" >
                                <div class="texto1">
                                
                                <h7> 
                                <span><strong>Tipo: {{ xObj.tipo }} </strong></span>
                                <span><br>Especie: {{ xObj.especie }} </span>   
                                <span><br>Localidad: {{ xObj.localidad }}</span>  
                                <span><br>F. Desde: {{ xObj.fecha_desde}}</span>  
                                <span><br>F. Hasta: {{ xObj.fecha_hasta }}</span> 
                                </h7>
                                
                                {% if de_donde == 1 %}
                                    {% if user.is_authenticated and user == xObj.id_usuario %}
                                    <div style="display: flex; gap: 0.5em; font-size: 12px;" >
                                        <a href="{% url 'suscripciones_mod' xObj.id %}">Editar</a>
                                        <a href="{% url 'suscripciones_can' xObj.id %}">Eliminar</a>
                                    </div>
                                    {%endif%}
                                {%endif%}
                                
                                </div>
                             </div>
                        </div>          
                    {% endfor %}
                          
            {%else%}
                <h4>Usted NO está SUSCRIPTO a publicaciones</h4>
                <p>Disculpe las molestias.</p>
            {%endif%}
           </article>

         </div>
         <br>
         <br>
         <br>
         <br>
         

{% endblock %}

